body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f4ff;
    color: #333;
}

header {
    background-image: url('images/20260527_112434.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;

    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}

header div {
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 15px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}
